algebra/ALGEBRA.o
algebra/delete.o
algebra/insert.o
algebra/join.o
algebra/project.o
algebra/select.o
data/q/catalog/attrcat
data/q/catalog/relcat
data/r/catalog/attrcat
data/r/catalog/relcat
frontend/FES.o
frontend/fes.o
physical/closerel.o
physical/closecats.o
physical/deleterec.o
physical/error.o
physical/findrec.o
physical/findrelnum.o
physical/flushpage.o
physical/getnextrec.o
physical/insertrec.o
physical/opencats.o
physical/openrel.o
physical/PHYSICAL.o
physical/readpage.o
physical/writerec.o
run/main.o
run/minirel
schema/buildindex.o
schema/closedb.o
schema/create.o
schema/createdb.o
schema/destroy.o
schema/destroydb.o
schema/dropindex.o
schema/load.o
schema/opendb.o
schema/print.o
schema/quit.o
schema/SCHEMA.o
schema/sort.o
a.out
